@charset "utf-8";

/* 웹폰트 설정 */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/*
font-family: 'Lato', sans-serif;
Thin 100
Light 300
Regular 400
Bold 700
Black 900
font-family: 'Oswald', sans-serif;
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
*/

:root {
    --main-color: #FFFFFF;
    --middle-main-color:#1D1F24;
    --main-box-color:#FF565C;
    --header-title-color2: #d2d2d3;
    --main--background-color: #f9fafc;
    --main--conunt--color:#d9dadb;

  }

/* reset */
html {
  font-size: 62.5%;
}
body,
input {
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  color: var(--dark-color);
  overflow-y: scroll;
  height: auto;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: normal;
  margin: 0;
}
dl,
dd,
p {
  margin: 0;
}
button,
input {
  appearance: none;
  border: 0;
  padding: 0;
  background-color: transparent;
    border-radius: 0;
}
button {
  cursor: pointer;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: underline;
}
img {
  vertical-align: top;
}
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}


/* 공통 */
#main{
    height: auto;
    min-height: 100%;
    background-color: var(--main--background-color);
    
}

header{
    /* sticky : 처음엔 static 속성과 같이 동작하다가 스크롤시 지정 지점에서 요소를 fixed 처럼 고정 */
 position: sticky;
background-color: var(--main-color);
top: 0;
left: 0;
z-index: 1000; /* 예시로 설정한 값, 필요에 따라 조절하세요 */
align-items: center;
border-bottom: 2px solid #ebebeb;
}



.sns__footer__box{
    display: flex;
}
.footer{
    background-color: var(--middle-main-color);
    color: var(--header-title-color2);
    position : relative;
    transform : translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer__nav__title__box{
    display: flex;
   
}
.footer__nav__title{
    width: 3rem;
    padding-right: 15rem;
}
.input__footer__box{
    display: flex;
}
.input__footer{
    border: none;
    background-color: var(--main--background-color);
    width: 16rem;
}
.button__footer{
    background-color: var(--main-box-color);
    color: var(--main--background-color);
    margin: 0;
    padding: 0.7rem 1.8rem;
}
.background_image{
    background-size: cover;
    background-repeat: no-repeat;
}
.main__first__box{
    background-image: url('../img/1-1.jpeg');

}
.main__first__box{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: var(--main-color);
   
}
.btn_red{
    color: var(--main-color);
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: var(--main-box-color);
}
.main__icon__box{
    display: flex;
    justify-content: center;
    align-items: baseline;
   
}
.main__second__box{
    background-color: var(--main-color);
}
.main__second__count__box{
display: flex;

}

 
.main__second__count{
    color: var(--main--conunt--color);
}
.main__second__count__box__line{
    border-bottom: 1px solid var(--main--conunt--color);
}

.main__third__box{
    background-image: url('../img/2-2.png');
    
}
.images__box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--main-color);
}
.main__forth__box{
background-color: var(--main-box-color);
color: var(--main-color);
display: flex;
flex-wrap: wrap;
align-items:center;
}
.forth__btn{
    border: 1px solid var(--main-color);
    padding: 1.5rem 5rem;
    border-bottom: 2px solid var(--main-color);
    
}
.main__fifth__box{
    background-image: url('../img/5-5.png');
}

.main__sixth__box{
    background-image: url('../img/6-6.png');
}

.main__seventh__box{
    background-image: url('../img/7-7.png');
}

/* 데스크탑 */






/* 모바일 */
@media only screen and (max-width: 639px) {
    .mobile__none{
        display: none;
    }
    #main{
        padding-bottom: 39rem;
    }
.header {
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        height: 1.5rem;
        position: 0;
  }
  .footer{
    padding: 4rem 2rem;
    font-size: 1.5rem;
    height: auto;
  }
  .footer__nav__title{
    width: 3rem;
    padding-right: 15rem;
}
.sns__footer__box> p ~ i{
    padding: 0 1% 0 1%;
}
.footer__nav__box > div{
    margin-bottom: 1rem;
}
.footer > div{
    margin-bottom: 2rem;
}
.main{
    padding: 2rem 1.5rem 5rem 1.5rem;
    
}
.main__first__box{
    color: var(--main-color);
    
    padding: 3rem 2rem;
    
}

.main__first__title{
    margin-top: 3rem;
    font-size: 2.3rem;
    line-height:1.4;
}
.main__icon__box{
    margin-top:14rem ;
}
.main__icon__box > p{   
    font-size: 1.2rem;
    padding-right: 1.5rem;
}
.main__icon__box>i{
    padding-right: 1.5rem;
}
.main__second__title{
    font-size: 1.7rem;
}

.main__second__box{
    padding: 2rem 1rem 2rem 2rem;
    
}
.main__second__count__box{
    padding: 2rem 9rem 2rem 0;
    font-size: 1.7rem;
}
.main__second__count{
    padding-right: 2rem;
}

.main__third__box{
    padding: 2.5rem 6rem 2.5rem 0rem;
}
.main__third__title__box{
    padding: 2rem 8rem 2rem 2rem;
}
.third__box{
    margin-top: 4rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.third__box>p{
    padding-right: 1.3rem;
}
.third__box>i{
    padding-right: 1.3rem;
}
.main__forth__box{
    height: 335px;
    padding: 3rem 2rem 3rem 2rem;
}
.main__forth__title{
    font-size: 2.3rem;
    line-height:1.4;
}
.main__forth_content{
    font-size: 1.8rem;
    line-height: 1.4;
}
.main__margin{
    margin-bottom: 2rem;
 }
}


/* 태블릿 */
@media (min-width: 640px)and (max-width:1024px){
 
    .header{
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        font-size: 1.5rem;
        height: 1.5rem;
    }
    #main{
        padding: 2rem 1rem 30rem 1rem ;
    }
    .footer{
        padding: 4rem 2rem;
        font-size: 1.5rem;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title nav";
        gap: 1rem; /* 원하는 간격 설정 */
    
      }
      footer > .title__footer__box,
      footer > .footer__nav__box {
          order: 1;
          padding-bottom: 1rem;
      }

      footer > .input__footer__box,
      footer > .sns__footer__box {
          order: 2;
          
      }
      .title__footer__box {
        grid-area: title;
    }
    
    .footer__nav__box {
        grid-area: nav;
    }
      footer > div{
        padding-right: 2rem;
      }
      .sns__footer__box{
        font-size:1.7rem;
        display: flex;
        align-items: center;
      }
      .sns__footer__box> p{
        padding-right: 1rem;
      }
      .sns__footer__box > i{
        padding-right: 1rem ;
      }

      .main__first__box{
        padding: 5rem 18rem 2rem 18rem;
      }
      .main__first__title{
        font-size: 2.5rem;
        line-height:1.4;
      }
      .main__first__content{
        font-size: 1.5rem;
        margin-bottom: 9rem;
      }
      .main__icon__box > p{
        font-size: 1.2rem;
        padding-right: 1rem;
      }
      .main__icon__box > i{
        padding-right: 1rem;
      }
      .grid__first {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        grid-template-rows: repeat(2, auto);
        grid-gap: 1rem;
    }
    .main__second__title{
        padding-left: 2rem;
        font-size: 1.7rem;
    }
    .main__second__box {
        /* 첫 번째 행, 첫 번째 열 */
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
       
    }
    .main__second__count__box{
        padding: 2rem 3.5rem 2rem 2rem;
    }
    .main__second__count{
        padding-right: 2rem;
    }
    .main__second__count__box > p{
        font-size: 2rem;
    }

    .main__third__box {
        /* 첫 번째 행, 두 번째 열 */
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        padding-top: 2rem;
    }
    .main__third__title__box{
        padding: 0rem 17rem 3rem 2rem;
    }
    .third__box{
        display: flex;
        align-items: center;
    }
    .third__box > p{
        font-size: 1.3rem;
        padding-right: 1rem;
    }
    .third__box > i{
        padding-right: 1rem;
    }
    .image__box__title{
        font-size: 2rem;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }

    .main__sixth__box {
        /* 두 번째 행, 두 번째 열 */
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        padding-top: 2rem;
    }
    
    .grid__second{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-gap: 1rem;
    }
    .main__forth__box {
        /* 첫 번째 행, 첫 번째 열 */
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        padding: 3rem 4rem 2rem 2rem;
    }
    .main__forth__title{
        font-size: 2.5rem;
        padding-bottom: 2rem;
        line-height:1.4;
    }
    .main__forth_content{
        font-size: 1.7rem;
        padding-bottom: 2rem;
        line-height:1.3;
    }
    .main__fifth__box {
        /* 첫 번째 행, 두 번째 열 */
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        padding-top: 2rem;
    }

    .main__seventh__box {
        /* 두 번째 행, 두 번째 열 */
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        padding-top: 2rem;
    }
    
   main > div{
    margin-bottom: 1rem;
   }




}






